*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    
}
.wrapper-content{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
}
aside{
    width: 260px;
    background-color: black;
    padding: 10px;
    height: 100%;
    
}
.logo{
    width: 150px;
}
.hls{
    padding-top: 20px;
}

.h-l-s{
    display: block;
    color: gray;
    font-size: 13px;
    margin-left: -9px;
    padding-left: 9px;
    margin-bottom: 7px;
    font-weight: bold;
}
.h-l-s:hover{
    color: white;
    border-left: 2px solid yellowgreen;
}  
.h-l-s-svg{
    width: 25px;
    vertical-align: middle;
    opacity: 0.5;
}
.h-l-s-svg:hover{
    opacity: 2.5;
}
aside h2{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;
}
.add-playlist{
    padding: 0px 14px;
    font-size: 34px;
    background-color: gray;
    font-weight: bold;
    vertical-align: middle;
}
.add-playlist-text{
    padding-left: 8px;
    color: gray;
    font-weight: bold;
}
.playlist span:hover{
    color: white;
}
aside ul{
    padding-top: 10px;
    color: gray;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
    list-style-type: none;
}
aside ul li:hover{
    color: white;

}
.flex{
    display: flex;
    height: 120px;
    
}
.download{
    width: 90%;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
}
.down{
    font-size: 13px;
    font-weight: bold;
    color: gray;    
}
.down svg{
    width: 18px;
    vertical-align: middle;
    opacity: 0.5;
}
.down:hover{
    color: white;
}
.down, svg:hover{
    opacity: 2.5;
}
.profile{
   color: rgb(255, 255, 255);
   font-weight: bold;
   display: inline-block;
   margin-top: 6px;
}
.profile-svg{
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
    vertical-align: middle;
}

main{
    width: calc(100% - 260px);
    height: 100%;
   
}
nav.top{
    position: fixed;
    top: 0;
    left: 260px;
    z-index: 1000;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    height: 50px;
    align-items: center;
    right: 0;
    justify-content: flex-end;
    padding-right: 25px;
}

.btn{
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 20px;
    text-align: center;
    border-radius: 25px;
    transition: all 1s ease;
}
.btn:hover{
    font-size: 13.5px;
}
.main-content{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    overflow-y: auto;
    padding-left: 20px;
    background-color: rgb(26, 24, 24);
}
.main-content ul{
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.main-content ul li{
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: gray;
}
.main-content ul li:hover{
    color: white;
}
.main-content ul li:first-of-type::after{
    content: "";
    display: block;
    width:35px;
    margin:4px auto;
    border-bottom:2px solid yellowgreen;
}
.main-content h1{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 40px;
}
.main-content .row{
    padding-top: 8px;
    width: 100%;
    height: 281px;
    display: flex;
    
}
.card{
    width: calc((100% / 6) - 20px);
    margin-right: 17px;
    position: relative;
}
.song-img1{
    background-image: url(/img/metal_lifting.jpg);
    height: 181px;
    background-size: 100%;
}
.song-img2{
    background-image: url(/img/stranger.jpeg);
    height: 181px;
    background-size: 100%;
}
.song-img3{
    background-image: url(/img/aquietplace.jpeg);
    height: 181px;
    background-size: 100%;
}
.song-img4{
    background-image: url(/img/split.jpeg);
    height: 181px;
    background-size: 100%;
}
.song-img5{
    background-image: url(/img/cure.jpeg);
    height: 181px;
    background-size: 100%;
}
.song-img6{
    background-image: url(/img/sinister.jpeg);
    height: 181px;
    background-size: 100%;
}
.song-overlay{
    width: 100%;
    height: 181px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
}
.song-overlay:hover{
    opacity: 1;
}
.song-overlay i{
    font-size: 50px;
    color: white;
}

.song-name h3{
    color: white;
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
}
.song-name p{
    color: gray;
    font-size: 13px;
    padding-top: 5px;
    text-align: center;
}
.main-content p{
    color: gray;
    font-size: 12px;
    padding-top: 8px;     
}
.radar{
    display: inline-block;
    width: 181px;
    height: 211px;
}
.radar-img{
    width: 181px;
    height: 181px;
    background-image: url(/img/radar.jpeg);
    background-size: contain;
}
.mix{
    padding-top: 25px;
    display: inline-block;
    width: 181px;
    height: 211px;
}

.mix-img{
    margin-left: 10px;
    width: 181px;
    height: 181px;
    background-image: url(/img/mixdaily.jpeg);
    background-size: contain;
}

.radar h3{
    color: white;
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
}
.mix h3{
    color: white;
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
}
.lana{
    display: inline-block;
    width: 181px;
    height: 211px;
}
.lana-img{
    width: 181px;
    height: 181px;
    background-image: url(/img/youg.jpeg);
    background-size: contain;
    border-radius: 50%;
}
.einaudi{
    padding-top: 25px;
    display: inline-block;
    width: 181px;
    height: 211px;
}

.einaudi-img{
    margin-left: 10px;
    width: 181px;
    height: 181px;
    background-image: url(/img/einaudi.jpeg);
    background-size: contain;
    border-radius: 50%;
}

.lana h3{
    color: white;
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
}
.einaudi h3{
    color: white;
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
}
footer{
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
}
.player-bar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    color: white;
}
.player-left{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.player-left-img{
    display: inline-block;
    height: 40px;
    width: 40px;
    padding-left: 5px;
}
.player-left-img img{
    width: 100%;
}
.player-left-text{
    display: inline-block;
    padding-left: 7px;
}
.player-left-text h3{
    color: white;
    font-size: 13px;
}
.player-left-text p{
    color: gray;
    font-size: 10px;
    font-weight: bold;
}
.player-left-text p:hover{
    color: white;
    text-decoration: underline;
}
.font-left{
    color: gray;
    display: inline-block;
    padding-left: 33px;
}
.font-left .fa-heart:hover{
    color: white;
}
.font-left .fa-folder:hover{
    color: white;
}
.player-center{
    width: 50%;

}
.font-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 40px;
    font-size: 18px;
}
.font-center .fa-circle-play{
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s ease;
}
.font-center .fa-circle-play:hover{
    font-size: 30px;
}
.audio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 20px;
}
.audio p{
    font-size: 10px;
    font-weight: bold;
}
.audio-bar{
    width: 400px;
    height: 4px;
    background-color: gray;
    border-radius: 2px;
    position: relative;
}
.audio-bar .hrr{
    width: 30%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    position:relative;
}
.audio-bar .hrr .circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -4px;
    left: 110px;
    opacity: 0;
    cursor: pointer;
    padding-left: 10px;
}
.audio-bar .hrr:hover{
    background-color: yellowgreen;
}
.audio-bar .hrr .circle:hover{
   opacity: 1;
}
.player-right{
    width: 20%;
}
.font-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    font-size: 10px;
}
.audio-bar-right{
    width: 100px;
    height: 4px;
    background-color: gray;
    border-radius: 2px;
    position: relative;
}
.audio-bar-right .hrr{
    width: 30%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}
.audio-bar-right .hrr .circle-right{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -2px;
    left: 25px;
    opacity: 0;
    cursor: pointer;
}
.audio-bar-right .hrr:hover{
    background-color: yellowgreen;
}
.audio-bar-right .hrr .circle-right:hover{
   opacity: 1;
}

